div {
    border-top: 0.5px solid grey;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
}
h1 {
    text-align: center;
}
#container {
    width: 960px;
    height: auto;
    border: 0px;
    border-bottom: 1px solid grey;
    margin: auto;
    margin-top: 20px;
}

.buttons {
    display: flex;
    border: 0px;
    max-width: 960px;
    margin: auto;
    justify-content: center;
}
button {
    margin: 0 5px;
}

.row {
    display: flex;
}
.hovered1 {
    background-color: rgba(0,0,0,0.2);
}
.hovered2 {
    background-color: rgba(0,0,0,0.3);
}
.hovered3 {
    background-color: rgba(0,0,0,0.4);
}
.hovered4 {
    background-color: rgba(0,0,0,0.5);
}
.hovered5 {
    background-color: rgba(0,0,0,0.6);
}
.hovered6 {
    background-color: rgba(0,0,0,0.7);
}
.hovered7 {
    background-color: rgba(0,0,0,0.8);
}
.hovered8 {
    background-color: rgba(0,0,0,0.9);
}
.hovered9 {
    background-color: rgba(0,0,0,1);
}
.hovered {
    background-color: rgba(0,0,0,0.1);
}